version: "3.3"
#
#networks:
#  vpcbr:
#    driver: bridge
#    ipam:
#      config:
#        - subnet: ${docker_subnet}.0/24
#  backbone:
#    driver: bridge
services:
  pdns-recursor:
    depends_on:
      - ipt-server
    restart: unless-stopped
    network_mode: host
    image: pdns-recursor
    build: ./powerdns
    environment:
      - PDNS_api_key=secret
      - PDNS_webserver=no
      - PDNS_lua_dns_script=/interceptor.lua
      - PDNS_disable_packetcache=yes
      - PDNS_local_port=1053

  ipt-server:
    restart: unless-stopped
    network_mode: "host"
    image: ipt-server
    build: ./ipt-server
    volumes:
      - "/etc/mrvpn.conf:/mrvpn.conf"
      - "ipt_cache:/var/ipt_cache/"
    cap_add:
      - NET_ADMIN
      - NET_RAW
    environment:
      - "IPTABLES=/sbin/iptables"
      - "IPTABLES_SAVE=/sbin/iptables-save"
      - "IPTABLES_RESTORE=/sbin/iptables-restore"
      - "CONFIG=/mrvpn.conf"
    healthcheck:
      test: [ "CMD", "sh", "-c", "echo \"\" | websocat ws://127.0.0.1:8765" ]
      interval: 30s
      timeout: 10s
      retries: 3


volumes:
  ipt_cache: